NODE_ENV=production
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/devdb
CLOUDINARY_CLOUD_NAME=...
CLOUDINARY_API_KEY=...
CLOUDINARY_API_SECRET=...
JWT_SECRET=...
PORT=3000

APP_IMAGE="backend-app:latest"
LAUNCHER_APP_IMAGE="launcher-app:latest"
PLAYWRIGHT_IMAGE="playwright-browser:latest"