DATABASE_URL="" # Typically postgresql://postgres:postgres@localhost:5432/devdb for development, and postgresql://postgres:postgres@localhost:5432/devdb for running in a container
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
JWT_SECRET=""
PORT=3000
