@import "tailwindcss";

@theme {
    --color-primary: #6E513D;
    --color-secondary: #9AA845;
    --color-dark: #332721;
    --color-primary-light: #B28964;
}

:root {
    font-family: "Cherry Cream Soda", system-ui;
}